body{
  background-color: rgb(57, 57, 57);
}

#app {
  margin: 0 auto;
  font-weight: bold;
  font-family: monospace;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 101, 189);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(183, 100%, 37%, 0.2);
  }
}